@import '_colors.scss';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #f5f5f5;
  overflow-y: scroll;
  overflow-x: hidden;
  color: $gray;

  .content {
    position: relative;
    max-width: 1600px;
    min-height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  
  &:not(.ioapi) .content__text {
    display: none;
  }
  &.ioapi .content__text {
    display: block;
    position: fixed;
    border-left: 3vw solid blue;
    padding: 0 1vw;
    left: 2vw;
    bottom: 4vw;
    font-weight: bold;
    background: rgba(245,245,245,.25);
    opacity: 0;
    white-space: pre;
    z-index: 10;
  }

  a:hover {
    text-decoration: none;
  }

  section {    
    position: relative;
  }

  ::selection {
    background: $yellow;
  }
  ::-moz-selection {
    background: $yellow;
  }

}