@import '_colors.scss';

body {
  margin: 0;
  background-color: $bg;
  overflow-y: scroll;
  overflow-x: hidden;

  a:hover {
    text-decoration: none;
  }

  section {    
    position: relative;
    display: flex;
    height: 90vh;
  }

  ::selection {
    background: $yellow;
  }
  ::-moz-selection {
    background: $yellow;
  }

}