body {
  font-size: 125%;
  font-family: 'Open Sans', 'Montserrat', sans-serif;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1,h2,h3,h4,h5 {
  margin: 0;   
  font-family: 'Montserrat', sans-serif;
  color: $heading;
  text-transform: uppercase; 
  font-weight: 400;
}

p {
  font-size: 1em;
  line-height: 1.25;
  text-align: justify;
  max-width: 50ch;
}
h1.xxxl {
  text-transform: lowercase; 
  font-size: 5.25em;
  line-height: 1.35;
  font-weight: 900;
}
h1.xxl {
  text-transform: lowercase; 
  font-size: 4.25em;
  line-height: 1.35;
  font-weight: 900;
}
h1.xl {
  text-transform: lowercase; 
  font-size: 3.625em;
  line-height: 1.35;
  font-weight: 700;
}
h1 {
  font-size: 2em;
  line-height: 1.25;
}
h2 {
  font-size: 1.625em;
  line-height: 1.15384615;
}
h3 {
  font-size: 1.375em;
  line-height: 1.13636364;
}
h4 {
  font-size: 1.125em;
  line-height: 1.11111111;
}
blockquote {
  font-size: 1.25em;
  line-height: 1.25;
}


@media (min-width: 700px) { 
  p {
    font-size: 1em;
    line-height: 1.7;
  }  
  h1.xxxl {
    font-size: 8.25em;
    line-height: 1.25;
  }
  h1.xxl {
    font-size: 6.25em;
    line-height: 1.25;
  }
  h1.xl {
    font-size: 5.25em;
    line-height: 1.25;
  }
  h1 {
    font-size: 2.5em;
    line-height: 1.125;
  }
  h2 {
    font-size: 2em;
    line-height: 1.25;
  }
  h3 {
    font-size: 1.5em;
    line-height: 1.25;
  }
  h4 {
    line-height: 1.22222222;
  }
  blockquote {
    font-size: 1.5em;
    line-height: 1.45833333;
  }
}

@media (min-width: 900px) { 
  h1.xxxl {
    font-size: 9.25em;
    line-height: 1.25;
  }
  h1.xxl {
    font-size: 7.25em;
    line-height: 1.25;
  }
  h1.xl {
    font-size: 6.25em;
    line-height: 1;
  }
  h1 {
    font-size: 3em;
    line-height: 1.05;
  }
  h2 {
    font-size: 2.25em;
    line-height: 1.25;
  }
  h3 {
    font-size: 1.75em;
    line-height: 1.25;
  }
}
