$hex-size: 6em; // Only change size here. Best used with sizes from 5em - 10em.

.hexGrid {
  padding: 0;
  line-height: 1.3;
  overflow: hidden;
  padding: $hex-size 0;

  & > .hexGrid--row {
    padding: 0;
    list-style: none;  
    width: 100%;
    display: flex;
    justify-content: center;
  }

  & > .hexGrid--row:nth-child(even) {
    position: relative;
  }

  & > .hexGrid--row:nth-child(odd) {
    position: relative;
    margin-top: -($hex-size * 0.75);  
    margin-bottom: -($hex-size * 0.75);
  }

}

.hex {
  position: relative;
  margin: ($hex-size * 0.24) ($hex-size * 0.4);
  width: $hex-size; 
  height: ($hex-size * 1.7);
  border-radius: 1em/.5em;
  background: #262422;
  transform: rotate(-90deg);
  display: inline-block;
  transition: all 100ms ease-out;
  cursor: pointer;
}
.hex:before, .hex:after {
  position: absolute;
  width: inherit; height: inherit;
  border-radius: inherit;
  background: inherit; 
  content: '';
}
.hex:before {
  transform: rotate(60deg);
}
.hex:after {
  transform: rotate(-60deg);
}
.hex:hover {
  background: #464442;
  opacity: 1; 
  & img {
    // opacity: 0.8;
    opacity: 1;
  }
}

.hex > div {
  position: absolute;
  top: 15px; left: -10px; right: -10px; bottom: 15px;
  z-index: 1;
  transform: rotate(90deg);
  display: flex;
  justify-content: center;
  align-items: center;
  
  & a {
    // pointer-events: none;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & img {    
    // opacity: 0.5;
    opacity: 1;
    width: 100%;
    height: 100%;
    transition: all 100ms ease-out;
  }
}

@mixin responsiveGrid($minifier) {
  .hexGrid {
    padding: $hex-size/$minifier 0;
    & > .hexGrid--row:nth-child(odd) {
      margin-top: -($hex-size/$minifier * 0.75);  
      margin-bottom: -($hex-size/$minifier * 0.75);
    }
  }

  .hex {
    margin: ($hex-size/$minifier * 0.24) ($hex-size/$minifier * 0.4);
    width: $hex-size/$minifier; 
    height: ($hex-size/$minifier * 1.7);
  } 
}


@media screen and (max-width: 1024px) {
  $minifier: 1.25;
  @include responsiveGrid($minifier)
}

@media screen and (max-width: 700px) {
  $minifier: 1.6;
  @include responsiveGrid($minifier)
}

@media screen and (max-width: 475px) {
  $minifier: 2;
  @include responsiveGrid($minifier)
}

@media screen and (max-width: 390px) {
  $minifier: 2.5;
  @include responsiveGrid($minifier)
}