@import '../../styles/_colors.scss';
  .footer {    
    position: relative;
    padding: 150px 0;
    min-height: 250px;
    background: #f5f5f5;
    z-index: 20;
    .footer__title {
      width: 100%;
      text-align: center;
      margin: 25px 0;
      color: $paragraph;
    }
    .footer__links {      
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      & * {
        margin: 10px;
      }
    }
  }