.loader {
  position: relative;
  margin: 250px auto;
  width: 200px;
  height: 200px;
  transform: rotate(45deg);
  background: rgba(0,0,0,.1);
  overflow: hidden;
  animation: scale 2400ms infinite;

  & > div {
    width: 200px;
    height: 50px;
  }

  .loader--first {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(200px, 0, 0);
    animation: first 1200ms infinite;
    background: teal;
  }
  .loader--second {
    position: absolute;
    top: 75px;
    left: -75px;
    transform: translate3d(0, -200px, 0) rotate(-90deg);
    animation: second 1200ms 400ms infinite;
    background: coral;
  }
  .loader--third {
    position: absolute;
    top: 75px;
    right: -75px;
    transform: rotate(90deg);
    transform: translate3d(0, 200px, 0) rotate(90deg);
    animation: third 1200ms 800ms infinite;
    background: coral;
  }
  .loader--fourth {
    position: absolute;
    top: 150px;
    left: 0;
    transform: translate3d(-200px, 0, 0);
    animation: fourth 1200ms 1200ms infinite;
    background: teal;
  }
  
}

@keyframes scale {
  from { transform: rotate(45deg) scale3d(1,1,1); }
  50% { transform: rotate(45deg) scale3d(0.75,0.75,1); }
  to { transform: rotate(45deg) scale3d(1,1,1); }
}

@keyframes first {
  from { transform: translate3d(210px, 0, 0); }
  25% { transform: translate3d(-210px, 0, 0);}
  to { transform: translate3d(-210px, 0, 0);}
}

@keyframes second {
  from { transform: translate3d(0, -210px, 0) rotate(-90deg); }
  25% { transform: translate3d(0, 210px, 0) rotate(-90deg);}
  to { transform: translate3d(0, 210px, 0) rotate(-90deg);}
}

@keyframes third {
  from { transform: translate3d(0, 210px, 0) rotate(90deg); }
  25% { transform: translate3d(0, -210px, 0) rotate(90deg);}
  to { transform: translate3d(0, -210px, 0) rotate(90deg);}
}

@keyframes fourth {
  from { transform: translate3d(-210px, 0, 0); }
  25% { transform: translate3d(210px, 0, 0);}
  to { transform: translate3d(210px, 0, 0);}
}