@import '../../../styles/_colors.scss';
.work {
  position: relative;
  overflow: hidden;
  .content__text {
    border-color: $yellow !important;
  }
  .content {
    min-height: 600px;
    padding: 2em .2em;
    flex-direction: column;
    align-items: center;
    & > * {
      position: relative;
      z-index: 2;
    }


    .gameContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 2em 0;
      width: 100%;
      overflow: hidden;
      z-index: 0;
      &:after {
        content: '';
        position: absolute;
        left: 10%;
        top:-10px;
        bottom: -10px;
        right:10%;
        background: rgba(150,150,150,.15);
        z-index: -2;
      }
    }
  }

  .buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 30em) { 
  .work {     
    .content {
      min-height: 920px;
      padding: 2em .5em;
    }
  }
  .work img.sideImage {
    right: -2em;
  }
}

@media (min-width: 61.25em) { 
  .work .content {
    min-height: 1000px;
    padding: 10em 2em;
    align-items: flex-start;
    .buttonContainer {
      width: 100%;
      display: block;
      justify-content: inherit;
    }
  }
  .work img.sideImage {
    right: -10em;
  }
}

@media (min-width: 80em) { 
  .work .content {
    align-items: flex-start;
    min-height: 1000px;
    padding: 10em 2em;
  }
  .work img.sideImage {
    right: -10em;
  }
}