.recent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 90px 0 90px 0;
  h1 {
    width: 100%;
    color: #949494;
    padding: 25px 0;
  }
  
  .recent__container {
    width: 100%;
    margin: 0 auto;
    max-width: 1150px;
  }
  .recent__list {
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    & .recent__project {
      min-width: 280px;
      max-width: 320px;
      height: 480px;
      background: #949494;
      box-shadow: 0 5px 8px -4px rgba(0,0,0,.25);
      margin: 25px;
      flex: 1;
    }
  }
}

@media screen and (max-width: 720px) {
  .recent {    
    .recent__list {      
      & .recent__project {
        margin: 25px 5px;
      }
    }
  }
}