$color: #333;

.scroll {
  position: absolute;
  left: 50%;
  margin-left: -15px;
  bottom: 70px;
  width: 30px;
  height: 30px;
  text-align: center;
  opacity: 0.4;
  border-left: 3px solid $color;
  border-bottom: 3px solid $color;
  transform: rotate(-45deg);
  animation: 2s ease infinite wheel-up-down;
}

@keyframes wheel-up-down {
	0% { transform: translateY(-15px) rotate(-45deg) ;}
	100% { transform: translateY(0) rotate(-45deg); opacity: 0; }
}

@media screen and (max-width: 480px) {
  .scroll {
    bottom: 10vh;
  }
}